<a href = "/"><button class = "homebtn" >Home</button></a>
<div class="person"> 
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{firstName}} {{lastName}}</h2>
<div class="text">
  <div class="information">Nickname: {{nickName}}</div>
  <div class="information">Favourite Spice: {{favouriteSpice}}</div>
  <div class="information">Hobbies: {{hobbies}}</div>
  <div class="information">Likes: {{likes}}</div>
  <div class="information">Hates: {{hates}}</div>
  <div class="information">Favourite Weather: {{favouriteWeather}}</div>
  <div class="information">Most likely to: {{mostLikelyTo}}</div>
  <div class="information">
    <form class="form" action="/poshPeople/{{id}}" method="post">
      <label for="fanMail" class="form-item">
      Leave a compliment:
      <input type="text" name="fanMail" value="{{fanMail}}">
    </label>
      <input type="submit" name="" value="Submit">
    </form>
    </div>
    <div class="information">Latest compliment: {{fanmail}}</div>
  </div>
</div>